
<!DOCTYPE html>
<html>
<head>

    <title>Sync Editor</title>
     <link href="style.css" rel="stylesheet">
</head>

<body>
   <div id = "bg">
    <div id="layer">
       <div id="editor">
       </div>
    </div>  
    </div>
    <button id="btn">New Editor</button>

    <script src="lib/ace.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.js"></script>
    <script src="/share/ace.js"></script>
    <script src="script.js"></script>  

</body>
</html>
